<div class="item">
  <!-- Circles -->
  <ngx-skeleton-loader [count]="count" appearance="circle"></ngx-skeleton-loader>

  <!-- Animation: progress -->
  <ngx-skeleton-loader animation="progress"></ngx-skeleton-loader>

  <!-- Animation: progress-dark -->
  <ngx-skeleton-loader animation="progress-dark"></ngx-skeleton-loader>

  <!-- Animation: Pulse -->
  <ngx-skeleton-loader animation="pulse"></ngx-skeleton-loader>

  <!-- Themes -->
  <ngx-skeleton-loader [count]="count" [theme]="{
    'border-radius': '5px',
    'height': '11px',
    'background-color': '#2c2c2c',
    'border': '1px solid red'
  }"></ngx-skeleton-loader>

  <!-- Default Line Skeleton -->
  <ngx-skeleton-loader [count]="count" [theme]="{
    'border-radius': '3px',
    'height': '1.5rem'
  }"></ngx-skeleton-loader>

  <!-- Circle + Line -->
  <hr>

  <section class="ngx-skeleton-container__section">
    <div class="ngx-skeleton-content__section">
      <div class="ngx-skeleton-item__circle">
        <ngx-skeleton-loader [count]="getCircleCount()" appearance="circle" [theme]="{
            'border-radius': '0.5rem',
            'height': '5.5rem',
            'width': '5.5rem',
            'margin': '0 1rem 1.75rem 0'
          }"></ngx-skeleton-loader>
      </div>

      <div class="ngx-skeleton-item__lines">
        <ngx-skeleton-loader [count]="getLineCount()" [theme]="{
            'width': '75%'
          }"></ngx-skeleton-loader>

        <ngx-skeleton-loader [count]="getLineCount()" [theme]="{
            'width': '33%'
          }"></ngx-skeleton-loader>
      </div>
    </div>

    <ngx-skeleton-loader [count]="getLineCount()" [theme]="{
      'width': '75%'
    }"></ngx-skeleton-loader>

    <ngx-skeleton-loader [count]="getLineCount()" [theme]="{
      'width': '100%'
    }"></ngx-skeleton-loader>

    <ngx-skeleton-loader [count]="getLineCount()" [theme]="{
      'width': '50%'
    }"></ngx-skeleton-loader>
  </section>
</div>